﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestForm.aspx.cs" Inherits="CRM.TestForm" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Change Chart Series Example - HTML5 jQuery Chart Plugin by jqChart </title>
    <link rel="stylesheet" type="text/css" href="css/jquery.jqChart.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.jqRangeSlider.css" />
    <link rel="stylesheet" type="text/css" href="../themes/le-frog/jquery-ui-1.8.20.css" />
    <script src="../js/jquery-1.5.2.min.js" type="text/javascript"></script>
    <script src="../js/jquery.mousewheel.js" type="text/javascript"></script>

    <script src="Script/jquery.jqChart.min.js" type="text/javascript"></script>
    <script src="Script/jquery.jqRangeSlider.min.js" type="text/javascript"></script>
    <!--[if IE]><script lang="javascript" type="text/javascript" src="../js/excanvas.js"></script><![endif]-->
    <script lang="javascript" type="text/javascript">

        var background = {
            type: 'linearGradient',
            x0: 0,
            y0: 0,
            x1: 0,
            y1: 1,
            colorStops: [{ offset: 0, color: '#d2e6c9' },
                         { offset: 1, color: 'white'}]
        };

        var fillStyle = {
            type: 'linearGradient',
            x0: 0,
            y0: 0,
            x1: 1,
            y1: 0,
            colorStops: [{ offset: 0, color: '#65c2e8' },
                             { offset: 0.49, color: '#55b3e1' },
                             { offset: 0.5, color: '#3ba6dc' },
                             { offset: 1, color: '#2794d4'}]
        };

        function getRandomData() {
            var data = [];

            for (var i = 0; i < 20; i++) {
                data.push([i, Math.round(Math.random() * 100)]);
            }

            return data;
        }

        $(document).ready(function () {

            $('#jqChart').jqChart({
                title: { text: 'Change Series' },
                border: { strokeStyle: '#6ba851' },
                background: background,
                legend: { visible: false },
                axes: [
                        {
                            type: 'linear',
                            location: 'bottom',
                            minimum: 0,
                            maximum: 20
                        },
                        {
                            type: 'linear',
                            location: 'left',
                            minimum: 0,
                            maximum: 100
                        }
                      ],
                series: [
                            {
                                type: 'line',
                                data: getRandomData()
                            }
                        ]
            });

            $('#buttonAddSeries').click(function () {

                // get current series collection
                var series = $('#jqChart').jqChart('option', 'series');

                var newSeries = {
                    type: 'line',
                    data: getRandomData()
                };

                // add the new series
                series.push(newSeries);


                // update (redraw) the chart
                $('#jqChart').jqChart('update');
            });

            $('#buttonRemoveSeries').click(function () {

                // get current series
                var series = $('#jqChart').jqChart('option', 'series');

                // remove the last series
                series.splice(series.length - 1, 1);

                // update (redraw) the chart
                $('#jqChart').jqChart('update');
            });
        });
    </script>
</head>
<body>
    <div id="jqChart" style="width: 500px; height: 300px;">
    </div>
    <br />
    <input id="buttonAddSeries" type="button" value="Add new series" />
    <input id="buttonRemoveSeries" type="button" value="Remove last series" />
    <br />
</body>
</html>
