@charset "utf-8";
/* CSS Document */

.validationerror
{
    color:Red;
    font-size:13px;
    font-weight:bold;
}
body{font-family: Segoe\000020UI,Tahoma,Arial; padding:0px; margin:0px; font-size:12px; color:#616161; background:url(../images/bg.gif);}
section, article, aside, header, footer, nav, dialog, figure{display:block; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6, p, ul, li, input, img{margin:0; padding:0; list-style:none;}
h1{ font-size:24px; font-weight:bold; color:#5b5b5b; border-bottom:1px solid #d0d0d0; padding-bottom:7px; font-family: Segoe\000020UI,Tahoma,Arial; text-transform:uppercase;}
h2{ font-size:18px; font-family: Segoe\000020UI,Tahoma,Arial; font-weight:normal; color:#fff;}
h3{ font-size:18px; font-weight:bold; color:#fb8407; border-bottom:1px solid #d0d0d0; padding-bottom:4px; margin-bottom:15px; font-family: Segoe\000020UI,Tahoma,Arial; text-transform:uppercase;}
a{ text-decoration:none; outline:none;}
.container{ margin:0 auto;}
.clear{ clear:both;}
.headerbarinner{background:url(../images/bg.gif)}
.headerbar{ background:url(../images/topbanner.jpg) no-repeat center top;}
.logo{ width:470px; float:left; display:block; padding-top:14px;}
.logo a{ background:url(../images/logo.png) no-repeat; width:367px; height:84px; display:block;}
.topright{ float:right; width:404px;}
input.signup{ background:url(../images/signup.jpg) no-repeat; width:155px; height:34px; border:0; float:left; margin:338px 0 0 326px;}
.navbar{ background:#d8d8d8; border:1px solid #bfbfbf; 
-webkit-border-bottom-right-radius: 05px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 05px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 05px;
border-bottom-left-radius: 5px;
 padding:7px 5px; text-align:center;}
.navbar a{ color:#2f3567; font-size:14px; padding:0 20px; text-decoration:none;}
.navbar a:hover{ color:#000;}
.infobox{ background:#fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border:1px solid #a4a4a4; padding:10px; margin:14px 0;}
.innerbox{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background:#2b366e; padding:10px;}
.innerbox ul li{ background:#fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; list-style:none;  margin-bottom:13px; position:relative;}		
.innerbox ul li input{ background:none; border:0; padding:8px; width:92%; color:#838383; font-size:15px; font-style:italic; font-family: Segoe\000020UI,Tahoma,Arial;} 
.innerbox ul li.last{ margin-bottom:0;}
.innerbox ul li a.arrow{ background:url(../images/arrow.jpg) no-repeat; width:9px; height:6px; display:block; position:absolute; top:15px; right:10px;}
.innerbox ul li a.cal{ background:url(../images/cal_icon.jpg) no-repeat; width:19px; height:19px; display:block; position:absolute; top:8px; right:10px;}
input.start_btn{ border:0; background:url(../images/start_booking.jpg) no-repeat; width:256px; height:46px;}
.innerbox p{ text-align:center; padding-top:13px; color:#fff; font-size:40px; font-weight:normal; letter-spacing:2px;}
.innerbox p.callus{ padding:5px 0 0;}
.content{ background:#fff; border-top:1px solid #aaaaaa; padding:16px 0 30px; }
.content ul li{ float:left; padding-bottom:15px;}
.content ul li a.limo{ background:url(../images/limo_btn.jpg) no-repeat; width:302px; height:118px; display:block;}
.content ul li a.shuttler{ background:url(../images/shuttler_btn.jpg) no-repeat; width:302px; height:118px; display:block;}
.content ul li a.bus{ background:url(../images/bus_btn.jpg) no-repeat; width:302px; height:118px; display:block;}
.content ul li a.handicap{ background:url(../images/handicap_btn.jpg) no-repeat; width:302px; height:118px; display:block;}
.content ul li a.tow{ background:url(../images/tow_btn.jpg) no-repeat; width:302px; height:118px; display:block;}
.content ul li a.truck{ background:url(../images/truck_btn.jpg) no-repeat; width:302px; height:118px; display:block;}
.content ul li a.taxi{ background:url(../images/taxi_btn.jpg) no-repeat; width:302px; height:118px; display:block;}
.content ul li a.help{ background:url(../images/how_work_btn.jpg) no-repeat; width:302px; height:118px; display:block;}
.content ul li a.mobile{ background:url(../images/mobile_btn.jpg) no-repeat; width:302px; height:118px; display:block;}
.content ul li.center{ padding-left:21px; padding-right:21px;}
.footer{ background:#2b366e; padding:18px 0; text-align:center; color:#fff; font-size:13px;}
.footer p{ padding-bottom:5px;}

/*************************** innner **************************/
.widgets{ padding:10px 0 0 0;}
.widget_box{ width:468px; height:230px; float:left; background:#eee; -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
overflow:hidden; margin-bottom:15px;}
.widget_box.even{ margin-left:12px;}
.widget_hdg{ background:url(../images/widget_hdrbg.gif) repeat-x; height:31px;}
.hdgtxt_bg{ float:left; background:url(../images/header_rtshape.png) no-repeat 100% 0; padding-right:56px; height:31px;}
.hdgtxt_bg h2{ padding:4px 10px 6px; background:url(../images/heading_bg.gif) repeat; min-width:129px;}
.widget_content{ border-top:2px solid #ee8008;}
.activepark, .profile{ padding:10px 10px 0;}
.activepark p, .profile p{ float:left; width:100%; padding-bottom:8px; font-size:13px;}
.activepark p label, .profile p label{ float:left; width:190px; font-weight:bold;}
a.viewall{ background:url(../images/icons.png) no-repeat -3px -657px; width:18px; height:18px; float:right; display:block; margin:6px 5px 0 0;}
a.map{ background:url(../images/icons.png) no-repeat -3px -704px; width:19px; height:18px; float:left; display:block;}
.innerbtn{ background:url(../images/innerbtn_rt.png) right top no-repeat; height:29px; padding-right:5px; margin-left:5px; font-family: Segoe\000020UI,Tahoma,Arial;}
.innerbtn input{ background:url(../images/innerbtn_lt.png) no-repeat; height:29px; border:0px; padding:0px 6px 3px 8px; color:#fff; font-weight:normal; font-size:14px; text-align:center; margin-right:-1px; -webkit-border-radius:0px; cursor:pointer; font-family: Segoe\000020UI,Tahoma,Arial; border:0;}
.innerbtn a{ background:url(../images/innerbtn_lt.png) no-repeat; height:23px; border:0px; padding:6px 6px 0px 8px; color:#fff; font-weight:normal; font-size:14px; text-align:center; margin-right:-1px; -webkit-border-radius:0px; float:left; display:block; text-decoration:none; font-family: Segoe\000020UI,Tahoma,Arial; }
.action{ float:right;}
.note{ padding:5px 10px; background:#e8e5e5; border-top:1px solid #cfcccc;}
.note p{ float:left; width:225px;}

.grid{ padding:10px; font-size:12px;}
.grid table{ padding:0; margin:0; border-collapse:collapse; border-spacing:0; font-size:12px; width:100%; text-align:left; border:1px solid #ececec;}
.grid table th{ height:32px; background:url(../images/gridhdg_bg.gif) repeat; color:#fff; padding-left:10px;}
.grid table td{ height:29px; padding-left:10px;}
.grid table tr.alt{ background:#f1f1f1;}
a.view{ background:url(../images/icons.png) no-repeat -3px -611px; width:19px; height:18px; float:left; display:block;}
a.print{background:url(../images/icons.png) no-repeat -3px -565px; width:19px; height:18px; float:left; display:block;}
.profile{ height:160px;}
.btm_links{padding:5px 10px 7px; background:#e8e5e5; border-top:1px solid #cfcccc; text-align:center; font-size:12px;}
.btm_links a{ text-decoration:underline; color:#5b5b5b; padding:0px 15px;}
.btm_links a:hover{ color:#ee8008;}
.feedback{ padding:10px;}
.feedback p{ float:left; width:100%; padding-bottom:10px;}
.feedback p textarea{ width:423px; height:114px; border:1px solid #dddddd; font-size:12px; color:#616161; font-family: Segoe\000020UI,Tahoma,Arial; padding:10px;}
.rtbtn{ float:right;}
.ltbtn{ float:left;}
.innertab{ padding-top:30px; float:left; width:100%;}
.innertab ul{ float:left;}
.innertab ul li{float:left; display:block; padding-left:5px;}
.innertab ul li a{ float:left; display:block; color:#fff; background: #2B366E;  padding:8px; font-size:15px; font-weight:bold; text-transform:none; -webkit-border-top-right-radius: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-topleft: 5px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
.innertab ul li a.active, .innertab ul li a:hover{ background:url(../images/innerhvr_tab.gif) repeat-x; color:#1a242e; border:1px solid #e5e3e3; border-bottom:1px solid #fff; padding:7px 7px; position:relative; bottom:-1px;}
.topright.innertop{ width:477px;}
.topright.innertop .navbar{ float:right;}

.save
{
    background: url(../images/save_data.png) no-repeat;
    width: 65px;
    height: 65px;
    border: 0;
    cursor:pointer;
    border:none !important;
}
.boxHeader
{
    min-height: 30px;
    background-color: #f2f2f2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 2px 10px 0;
    position: relative;
    text-align: left;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset,0 -1px 5px rgba(0,0,0,0.07) inset;
}
.boxHeader h2
{
    color: #666;
    font-size: 11px;
    font-weight: bold;
    max-height: 31px;
    letter-spacing: .06em;
    margin-left: 10px;
    padding-top: 11px;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    line-height: 1.5em;
}

.dashboardGrid
{
    font-family: Segoe\000020UI,Tahoma,Arial;
    font-size: 9pt;
    color: black;
    border-bottom: 1px solid lightgrey;
    height: 30px;
}